<section class="py-10 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        ¡Financia tu Auto Usado con Flexibilidad y Facilidad!
      </h2>
      <p class="mt-4 text-lg text-gray-600">
        En
        <strong>Puelche Automotriz</strong>
        te ofrecemos opciones de financiamiento adaptadas a tus necesidades, ¡desde un pie del 20% hasta 48 meses de plazo!
      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Cómo funciona -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-900">¿Cómo funciona?</h3>
        <ul class="mt-4 list-disc list-inside text-gray-600">
          <li><strong>Pie desde el 20%</strong>
            y plazos de hasta 48 meses.</li>
          <li>Financiamiento flexible adaptado a tu capacidad de pago.</li>
        </ul>
      </div>
      <!-- Requisitos -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-900">Requisitos</h3>
        <ul class="mt-4 list-disc list-inside text-gray-600">
          <li>Edad mínima:
            <strong>21 años</strong>.</li>
          <li>Autos de hasta
            <strong>12 años de antigüedad</strong>.</li>
          <li>Financiamiento desde
            <strong>20% de pie</strong>.</li>
        </ul>
      </div>
    </div>

    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Opción Pie 20% -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-900">Financiamiento con Pie desde el 20%</h3>
        <p class="mt-2 text-lg text-gray-600">
          Acreditando tu renta puedes financiar tu nuevo auto con un pie desde el 20%, disfruta de cuotas mensuales ajustadas a tu presupuesto. ¡Es fácil y accesible!
        </p>
      </div>
      <!-- Opción Pie 40% -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-900">¿No tienes ingresos formales?</h3>
        <p class="mt-2 text-lg text-gray-600">
          Si no puedes acreditar renta tambien tenemos una opcion para ti, con un pie desde el 40% puedes financiar sin papeleo adicional (*aplican terminos y condiciones).
        </p>
      </div>
    </div>

    <div class="text-center mt-12">
      <h3 class="text-3xl font-extrabold text-gray-900">¡Tu próximo auto usado está más cerca de lo que imaginas!</h3>
      <p class="mt-4 text-lg text-gray-600">
        Contáctanos hoy para obtener más detalles y comenzar con tu financiamiento. ¡No esperes más!
      </p>
      <div class="mt-8">
        <a
          href="#contacto"
          class="
            text-white bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-bold rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center
          "
        >
          ¡Contáctanos hoy mismo!
        </a>
      </div>
    </div>
    <!-- Sección de logos de las empresas financieras -->
    <div class="grid gap-4 w-4/5 mx-auto mt-12">
      <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
      <div class="grid grid-cols-4 gap-4 items-center">
        <div class="flex justify-center">
          <%= image_tag("autofin.png", class: "max-h-24 max-w-full rounded-lg") %>
        </div>
        <div class="flex justify-center">
          <%= image_tag("global.png", class: "max-h-24 max-w-full rounded-lg") %>
        </div>
        <div class="flex justify-center">
          <%= image_tag("falabella.png", class: "max-h-24 max-w-full rounded-lg") %>
        </div>
        <div class="flex justify-center">
          <%= image_tag("dily.png", class: "max-h-24 max-w-full rounded-lg") %>
        </div>
      </div>
      <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    </div>
  </div>
</section>
