<section class="py-10 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        ¡Tu Auto Usado Está Más Cerca de lo que Imagina! ¡Financia con Nosotros!
      </h2>
      <p class="mt-4 text-lg text-gray-600">
        En
        <strong>Puelche Automotriz</strong>
        sabemos que la compra de un auto usado es una de las decisiones más importantes en tu vida, y queremos que este proceso sea lo más fácil y accesible para ti. Por eso, te
        ofrecemos una amplia gama de opciones de
        <strong>financiamiento</strong>
        a través de nuestras alianzas con las mejores
        <strong>empresas financieras</strong>
        del mercado.
      </p>
    </div>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h3 class="text-2xl font-semibold text-gray-900">¿Cómo funciona nuestro financiamiento para autos usados?</h3>
        <p class="mt-2 text-lg text-gray-600">
          Contamos con
          <strong>planes de crédito flexibles</strong>
          para que puedas adquirir tu
          <strong>auto usado</strong>
          con
          <strong>facilidad</strong>
          y
          <strong>seguridad</strong>. Ofrecemos opciones para financiar desde
          <strong>el 20% de pie</strong>
          hasta
          <strong>48 meses de plazo</strong>, ajustándonos a tus necesidades y capacidad de pago. Con nuestra ayuda, podrás llevarte el auto usado de tus sueños a un excelente precio y con un plan adecuado a tu
          presupuesto.
        </p>
      </div>

      <div>
        <h3 class="text-2xl font-semibold text-gray-900">Requisitos para Financiar un Auto Usado:</h3>
        <ul class="mt-4 list-disc list-inside text-gray-600">
          <li>Edad mínima de
            <strong>21 años</strong>.</li>
          <li>Autos de hasta
            <strong>12 años de antigüedad</strong>.</li>
          <li>Financiamiento desde el
            <strong>20% de pie</strong>.</li>
          <li>Plazos de hasta
            <strong>48 meses</strong>, para que puedas elegir el tiempo que mejor se adapte a tu presupuesto.</li>
        </ul>
      </div>
    </div>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h3 class="text-2xl font-semibold text-gray-900">Financiamiento con Flexibilidad para Autos Usados:</h3>
        <p class="mt-2 text-lg text-gray-600">
          <strong>Pie desde el 20%</strong>: Si decides financiar con un pie del
          <strong>20%</strong>, solo tendrás que
          <strong>acreditar tu renta con liquidaciones y certificado de cotizaciones para dependientes o carpeta tributaria para independientes</strong>. De esta manera, podrás acceder a excelentes condiciones de financiamiento para tu auto usado con una cuota mensual que se ajusta a tu capacidad de pago.
        </p>
        <p class="mt-2 text-lg text-gray-600">
          <strong>Pie desde el 40%</strong>: Si no tienes como acreditar renta con un pie del
          <strong>40%</strong>, podrás financiar tu auto usado
          <strong>sin necesidad de presentar papeles</strong>, lo que simplifica aún más el proceso y lo hace accesible para quienes no tienen documentación de ingresos, pero quieren comprar un auto.
        </p>
      </div>

      <div>
        <h3 class="text-2xl font-semibold text-gray-900">Ventajas de Financiar un Auto Usado con Nosotros:</h3>
        <ul class="mt-4 list-disc list-inside text-gray-600">
          <li>Accesibilidad: Nos asociamos con las mejores empresas financieras para ofrecerte tasas competitivas y condiciones claras. Sin letra pequeña.</li>
          <li>Flexibilidad: Adaptamos el financiamiento a tu capacidad de pago, con opciones de plazos que van desde el 20% de pie hasta 48 meses, asegurando que encuentres la
            opción perfecta para ti.</li>
          <li>Variedad de Autos Usados: Puedes financiar una amplia gama de autos usados de calidad, con el respaldo que ofrecemos en Puelche Automotriz.</li>
          <li>Trámite rápido y sin complicaciones: Nos encargamos de todo el proceso de gestión financiera para que solo te preocupes por elegir tu próximo auto usado.</li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-12">
      <h3 class="text-3xl font-extrabold text-gray-900">¡Tu próximo auto usado está más cerca de lo que imaginas!</h3>
      <p class="mt-4 text-lg text-gray-600">
        Contáctanos para conocer las opciones de financiamiento disponibles y empezar a hacer realidad la compra de tu auto usado ideal. ¡No esperes más! Solicita tu crédito hoy
        mismo y da el primer paso hacia tu futuro sobre ruedas con
        <strong>Puelche Automotriz</strong>.
      </p>
      <div class="mt-8">
        <a
          href="#contacto"
          class="
            text-white bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-bold rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center
          "
        >
          ¡Contáctanos hoy mismo y descubre las mejores opciones de financiamiento para tu auto usado!
        </a>
      </div>
    </div>
  </div>
</section>
<div class="grid gap-4 w-4/5 mx-auto">
  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
  <div class="grid grid-cols-4 gap-4 items-center">
    <div class="flex justify-center">
      <%= image_tag("autofin.png", class: "max-h-24 max-w-full rounded-lg") %>
    </div>
    <div class="flex justify-center">
      <%= image_tag("global.png", class: "max-h-24 max-w-full rounded-lg") %>
    </div>
    <div class="flex justify-center">
      <%= image_tag("falabella.png", class: "max-h-24 max-w-full rounded-lg") %>
    </div>
    <div class="flex justify-center">
      <%= image_tag("dily.png", class: "max-h-24 max-w-full rounded-lg") %>
    </div>
  </div>
  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
</div>
