<section class="py-10 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Más de 15 años de experiencia en el mundo de los autos usados nos avalan.
      </h2>

    </div>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center">
        <h3 class="text-2xl font-semibold text-gray-900">Confianza y Seguridad en Cada Compra</h3>
        <p class="mt-4 text-lg text-gray-600">
          Nuestro equipo se he desempeñado en las empresas más grandes del sector automotriz en el país. Durante más de 15 años, hemos trabajado en ventas, gestión de stock y
          asesoría en la compra de autos usados, lo que nos ha permitido entender a fondo las necesidades y expectativas de nuestros clientes.
        </p>
        <p class="mt-4 text-lg text-gray-600">
          Esta vasta experiencia nos ha ayudado a entender a fondo el negocio y hoy nos permite establecer nuestra filosofía, la cual se orienta a ofrecer solo lo mejor a nuestros
          clientes, garantizando que cada compra sea una experiencia segura y confiable.
        </p>
        <p class="mt-4 text-lg text-gray-600">
          En
          <strong>Puelche Automotriz</strong>, la confianza es nuestra principal prioridad. Sabemos lo importante que es para nuestros clientes tomar decisiones informadas al comprar un auto usado. Por ello,
          ofrecemos vehículos revisados tanto mecanica como legalmente, y con una trazabilidad clara, asegurando que cada uno cumpla con los más altos estándares de calidad y
          seguridad.
        </p>
      </div>
      <div class="flex justify-center items-center">
        <%= image_tag("nosotros.png", class: "rounded-lg shadow-lg") %>
      </div>
    </div>

    <div class="mt-2 text-center">
      <p class="mt-4 text-lg text-gray-600">
        La experiencia que hemos adquirido durante más de 15 años nos permite asesorarte en todo el proceso de compra. Desde la elección del auto que más se adapta a tus
        necesidades hasta el financiamiento más adecuado para tu presupuesto. Nuestro compromiso es garantizarte una compra sin sorpresas, con total transparencia y un trato
        personalizado.
      </p>
    </div>

    <div class="mt-12 text-center">
      <h3 class="text-3xl font-extrabold text-gray-900">Tu Confianza es Nuestro Mayor Logro</h3>
      <p class="mt-4 text-lg text-gray-600">
        En
        <strong>Puelche Automotriz</strong>, nos esforzamos cada día por mantener la confianza de nuestros clientes, ofreciendo el mejor servicio, los mejores autos y las mejores condiciones. ¡Te esperamos para ser
        parte de nuestra familia de clientes satisfechos!
      </p>
      <a
        href="#contacto"
        class="
          mt-8 text-white bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-bold rounded-lg text-xl px-5 py-2.5 text-center inline-flex
          items-center
        "
      >
        ¡Contáctanos y vive la experiencia Puelche Automotriz!
      </a>
    </div>
  </div>
</section>
